<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In </title>
</head>
<body>
    <form action="/register/SignIn" method="POST">
        <div><label>Email: </label><input type="text" name="email" placeholder="Nhập ở đây..."/> </div>
        <div><label>Mật khẩu: </label><input type="password" name="password" placeholder="Nhập ở đây..."/></div>
        <button name="submit" type="submit" class="btn">log in</button>
        <h3><%=message%></h3>
    </form>
</body>
<script>
    let a = document.cookie;
    console.log(a);
</script>
</html>